<div class="block-author">

	<figure class="author__image">
		<img src="{{ author.image }}" alt="{{ author.name }}"/>
	</figure>

	<div class="author__meta">
		<p class="name">{{ author.name }}</p>
		<p class="article">
			<span class="date">{{ article.date }}.</span>
			<span class="time-to-read">{{ article.timeToRead }}</span>
		</p>
	</div>

</div>