<div class="block-contact">
	<h3 class="contact__title">Let's do things together!</h3>
	<ul class="contact__list">
		<li class="list__item"><a href="tel:{{ contact.phonenumber }}">{{ contact.phonenumber }}</a></li>
		<li class="list__item"><a href="tel:{{ contact.phonenumber_mobile }}">{{ contact.phonenumber_mobile }}</a></li>
		<li class="list__item"><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></li>
	</ul>
</div>