{# This block is reused in header and footer #}

<div class="block-socialmedia">
	<ul class="socialmedia__list">
		<li>
			<a target="_blank" href="https://twitter.com/softwaremill" title="Twitter">
				<figure class="socialmedia__ico ui-ico ico--twitter">
					{{ source(assetsDirRoot~'svg/socialmedia/twitter.svg' ) }}
				</figure>
			</a>
		</li>
		<li>
			<a target="_blank" href="https://www.facebook.com/softwaremill" title="Facebook">
				<figure class="socialmedia__ico ui-ico ico--facebook">
					{{ source(assetsDirRoot~'svg/socialmedia/facebook.svg' ) }}
				</figure>
			</a>
		</li>
		<li>
			<a target="_blank" href="https://www.linkedin.com/company/808422" title="LinkedIn">
				<figure class="socialmedia__ico ui-ico ico--linkedin">
					{{ source(assetsDirRoot~'svg/socialmedia/linkedin.svg' ) }}
				</figure>
			</a>
		</li>			
		<li>
			<a target="_blank" href="https://github.com/softwaremill" title="Github">
				<figure class="socialmedia__ico ui-ico ico--github">
					{{ source(assetsDirRoot~'svg/socialmedia/github.svg' ) }}
				</figure>
			</a>
		</li>		
		
		<li>
			<a target="_blank" href="https://www.youtube.com/c/SoftwareMillCom" title="YouTube">
				<figure class="socialmedia__ico ui-ico ico--yt">
					{{ source(assetsDirRoot~'svg/socialmedia/youtube.svg' ) }}
				</figure>
			</a>
		</li>
		<li>
			<a target="_blank" href="http://www.slideshare.net/softwaremill" title="Slideshare">
				<figure class="socialmedia__ico ui-ico ico--slideshare">
					{{ source(assetsDirRoot~'svg/socialmedia/slideshare.svg' ) }}
				</figure>
			</a>
		</li>
		<li>
			<a target="_blank" href="https://clutch.co/profile/softwaremill" title="Clutch">
				<figure class="socialmedia__ico ui-ico ico--clutch">
					{{ source(assetsDirRoot~'svg/socialmedia/clutch.svg' ) }}
				</figure>
			</a>
		</li>		
		<li>
			<a target="_blank" href="https://blog.softwaremill.com/?gi=854e7326b87a" title="Medium">
				<figure class="socialmedia__ico ui-ico ico--medium">
					{{ source(assetsDirRoot~'svg/socialmedia/medium.svg' ) }}
				</figure>
			</a>
		</li>								
	</ul>
</div>